@font-face {
  font-family: "mouldcheese";
  src: url("./mouldcheese.ttf"), format("truetype");
}

@font-face {
  font-family: "lovedays";
  src: url("./lovedays.ttf"), format("truetype");
}

header {
  margin: 0;

  background: linear-gradient(to top, transparent, 25%, #003049);
}

.home-div{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: #eae2b7; /* Text color */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.text-over-image {
  margin: 30px auto;
  /* Inherits common styles from base-div */
  color: #fcbf49; /* Text color */
  font-size: 1.3rem; /* Adjust text size as needed */
  font-family: "lovedays"; /* Font styling */
  border-radius: 8px; /* Optional: Rounded corners */
}

body {
  font-family: "mouldcheese";
  background-image: url("background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav {
  display: grid;
  grid: none / auto-flow;
  place-content: center;
  place-items: center;
  gap: 1rem;
}

#nav-btn {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: inherit;
  color: beige;
  font-family: inherit;
  text-decoration: none;
  border: none;
  text-align: center;
  padding: 4px 4px 10px 4px;
  font-size: 2rem;
  margin: 1rem 1rem 0 0;
  cursor: pointer;
  position: relative; /* Add this to position the pseudo-element correctly */

  /* Underline effect */
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px; /* Adjust this value to control the space between text and underline */
    width: 100%;
    height: 2px;
    background-color: #eae2b7;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
  }

  /* Hover state */
  &:hover {
    transform: scale(1.1);
    text-decoration: none; /* Keep this to avoid the default text underline */
    transition: transform 0.5s ease-in-out;

    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}
